<!DOCTYPE html>
<html lang="pl">
<head>
    <script nowprocket data-noptimize="1" data-cfasync="false" data-wpfc-render="false" seraph-accel-crit="1" data-no-defer="1" data-cmp-ab="2">
  (function () {
      var script = document.createElement("script");
      script.async = 1;
      script.setAttribute("data-cmp-ab","2");
      script.src = 'https://emrldtp.cc/NTU4ODA4.js?t=558808';
      document.head.appendChild(script);
  })();
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | Asia Compass</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>

    <!-- Nagłówek strony i menu -->
    {{ partial "header.html" . }}

    <!-- Główna zawartość strony -->
    <main>
        {{ block "main" . }}{{ end }}
    </main>

</body>
</html>