<header class="site-header">
    <div class="logo">
        <a href="{{ "/" | absURL }}">Asia Compass</a>
    </div>
    <nav>
        <ul class="nav-menu">
            
            <!-- Rozwijane menu Kraje -->
            <li class="dropdown">
                <a href="{{ "/kraj/" | absURL }}">Kraje</a>
                <ul class="dropdown-content">
                    {{ $krajPageObj := site.GetPage "kraj" }}
                    {{ if $krajPageObj }}
                        {{ range $krajPageObj.Pages }}
                            <li class="dropdown-submenu">
                                <a href="{{ .RelPermalink | absURL }}">{{ .Title }} &raquo;</a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </li>

            <!-- Blog -->
            <li><a href="{{ "/blog/" | absURL }}">Blog</a></li>

            <!-- Menu Sociale -->
            <li class="dropdown">
                <a href="#">Sociale</a>
                <ul class="dropdown-content">
                    <li><a href="https://www.instagram.com/asia_compass_/" target="_blank" rel="noopener">Instagram</a></li>
                </ul>
            </li>

            <!-- Ulubione -->
            <li><a href="{{ "/ulubione/" | absURL }}">Ulubione</a></li>

        </ul>
    </nav>
</header>