<header class="site-header">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}">Asia Compass</a>
    </div>
    <nav>
        <ul class="nav-menu">
            
            <!-- Rozwijane menu Kraje -->
            <li class="dropdown">
                <a href="{{ "/kraj/" | relURL }}">Kraje</a>
                <ul class="dropdown-content">
                    {{ $krajPageObj := site.GetPage "kraj" }}
                    {{ if $krajPageObj }}
                        {{ range $krajPageObj.Pages }}
                            {{ $krajSlug := .Title | urlize | lower }}
                            
                            <li class="dropdown-submenu">
                                <a href="{{ .RelPermalink }}">{{ .Title }} &raquo;</a>
                                <ul class="submenu-content">
                                    {{ $miastoPageObj := site.GetPage "miasto" }}
                                    {{ if $miastoPageObj }}
                                        {{ range $miastoPageObj.Pages }}
                                            {{ $miastoKraj := .Params.kraj | default "" | urlize | lower }}
                                            {{ if eq $miastoKraj $krajSlug }}
                                                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </ul>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </li>

            <!-- Blog -->
            <li><a href="{{ "/blog/" | relURL }}">Blog</a></li>

            <!-- Menu Sociale -->
            <li class="dropdown">
                <a href="#">Sociale</a>
                <ul class="dropdown-content">
                    <li><a href="https://www.instagram.com/asia_compass_/" target="_blank" rel="noopener">Instagram</a></li>
                </ul>
            </li>

            <!-- Ulubione -->
            <li><a href="{{ "/ulubione/" | relURL }}">Ulubione</a></li>

        </ul>
    </nav>
</header>